html, body {
	font-family: 'Open Sans', sans-serif;
	background-color: #212121;
}

@media (min-width: 768px) {
	.content {
		width: 400px;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.content {
		width: 100%;
		margin: 0 auto;
	}
}

.row {
	display: flex;
}

.box {
	flex-grow:1;
}

.box-spacer {
	width:2px;
	background-color: #323a45;
	/* margin-right: 6px; */
	/* margin-left: 6px; */
    margin-left: 15px;
    margin-right: 15px;
}

.pulse {
	vertical-align: top;
	font-size: 46px;
	color: #0071bc;
}

.header {
    margin-bottom: 20px;
    margin-top: 20px;
}

.brand {
    text-align: right;
}

.ads-ns {
	color: white;
	font-size: 14px;
	text-align: left;
	margin-top: 15px;
}

.toggle-action {
	color: #e5e5e5;
	font-size: 11px;
}

.toggle-action a,
.toggle-action a:active,
.toggle-action a:visited,
.toggle-action a:hover
{
	color: #0071bc;
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.header {
	color: white;
	font-size: 42px;
	font-weight: 500;
	margin-top: 80px;
}

input.email {
	background-color: #323a45;
	border: none;
	color: white;
	font-size: 16px;
	box-sizing: border-box;
	padding: 12px;
	width: 100%;
}

.action-btn {
	border: 1px solid #0071bc;
	background-color: #0071bc;
	padding: 4px;
	margin-top: 4px;
	font-size:16px;
	color: white;
	width: 100%;
	height: 38px;
}

#unsubscribe {
    display: none;
    background-color: #cd2026;
    border: transparent;
}


.message-container {
	margin-bottom: 20px;
}

#message {
	height: 10px;
}

.success {
	color: #4aa564;
}

.fail {
	color:#e59393;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 16px;
}

.footer a,
.footer a:visited,
.footer a:hover {
    color: #fff;
}

#ecg {
    width: 100%;
    height: 200px;
    margin-top: 5rem;
}
