html, body {
	font-family: 'Open Sans', sans-serif;
	background-color: #212121;
}

@media (min-width: 768px) {
	.content {
		width: 400px;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.content {
		width: 100%;
		margin: 0 auto;
	}
}
.text-center {
	text-align: center;
}

.header {
	color: white;
	font-size: 42px;
	font-weight: 500;
	margin-top: 80px;
}

input.email {
	background-color: #323a45;
	border: none;
	color: white;
	font-size: 16px;
	box-sizing: border-box;
	padding: 12px;
	width: 100%;
}

.action-btn {
	border: 1px solid #0071bc;
	background-color: #0071bc;
	padding: 4px;
	margin-top: 4px;
	font-size:16px;
	color: white;
	width: 100%;
	height: 38px;
}

.message-container {
	margin-bottom: 20px;
}

#message {
	height: 10px;
}
.success {
	color: #2e8540;
}
.fail {
	color:#e59393;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
}

.footer a,
.footer a:visited,
.footer a:hover {
    color: #fff;
}

#ecg {
    width: 100%;
    height: 200px;
    margin-top: 5rem;
}
